.productTile {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  padding: 16px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  margin-bottom: 5%;
  border-radius: 4px;
  & img {
    display: block;
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  & a:link,
  a:visited,
  a:hover,
  a:active {
    font-size: 0.875rem;
    color: var(--g4m-grey);
    text-decoration: none;
  }

  & button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--g4m-orange);
    border: 0;
    cursor: pointer;
  }
  &__title {
    min-height: 40px;
  }
}
